%html
  .strangers
    .strangers_title
      知らない人用

    %ul.strangers_audios
      %li.strangers_audios_voice
        「はーい」
        %br
        %br
        = audio_tag('hai.mp3', id: 'test-audio', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「はい」
        %br
        %br
        = audio_tag('はい.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「どちら様ですか？」
        %br
        %br
        = audio_tag('どちら様ですか.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「どのようなご用件ですか？」
        %br
        %br
        = audio_tag('どのようなご用件ですか？.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「結構です」
        %br
        %br
        = audio_tag('結構です.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「お断りします」
        %br
        %br
        = audio_tag('お断りします.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「お引き取りください」
        %br
        %br
        = audio_tag('お引き取りください.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「困ります」
        %br
        %br
        = audio_tag('困ります.mp3', controls: "controls", controlslist:"nodownload")

      %li.strangers_audios_voice
        「違います」
        %br
        %br
        = audio_tag('違います.mp3', controls: "controls", controlslist:"nodownload")
