%html
  .side-bar
    .side-bar_title
      %span.outline
        = link_to  "まもるくん", "/"

    %ul.side-bar_menu
      %li
        %i.fas.fa-truck
          = link_to "宅配業者用", "delivery_traders#index"
      %li
        %i.fas.fa-user-alt-slash
          = link_to "知らない人用", "strangers"

      %li
        %i.fas.fa-chalkboard-teacher
          = link_to "使い方", "/"

      %li
        %i.fas.fa-user-circle
          = link_to "ログイン(工事中)", "/"

      %li
        %i.fas.fa-user-check
          = link_to "ゲストログイン(工事中)", "/"

      %li
        %i.fas.fa-pen-nib
          = link_to "情報交換ページ(工事中)", "/"

      %li
        %i.fas.fa-paper-plane
          = link_to "お問い合わせ(工事中)", "/"

    .side-bar_copyright
      ©️yuri2509program
